<div class="wrapper">
  <h1>Artists</h1>
  <%= form_tag artists_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<div class="container">
  <% @artists.each do |artist| %>
    <%= link_to artist.shop_name, artist_path(name_parameterize: artist.name_parameterize) %>
    <ul>
      <% artist.pieces.each do |piece| %>
        <li><%= link_to piece.title, piece_path(id: piece.id) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
