<div class="container">

  <h1>Register as a New User</h1>
  <p>It's fun!</p>

  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.submit "Register", class: "btn btn-lg btn-primary" %>
  <% end %>

</div>
