<div class="art">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3>
          <%= link_to @user.full_name.downcase, user_path(id: @user.id) %>
          <% if @user.latitude && @user.longitude %>
            <small>(<%= @user.location.downcase %>)</small>
          <% end %>
        </h3>
        <br>
        <h5>
          <%= link_to "edit user profile", edit_user_path(id: @user.id) %>&nbsp;
        </h5>
        <hr>
        <% if @user.artist %>
          <h5>
            <%= link_to "view artist profile", artist_path(id: @user.artist.user_id) %>
            <small>(<%= link_to "edit artist profile", edit_artist_path(id: @user.artist.user_id) %>)</small>
          </h5>
          <h5><%= link_to "view inventory", inventory_path(id: @user.artist.user_id) %></h5>
        <% end %>
        <hr>
      </div>
      <div class="col-md-9">
        <% if @user.favorites && @user.favorites.count > 0 %>
          <h3 style="text-align: center;">your favorites</h3>
          <hr>
          <div class="container">
            <% @favorites.each do |favorite| %>
              <%= link_to piece_path(id: favorite.piece.id) do %>
                <div class="image-tile">
                  <%= image_tag attachment_url(favorite.piece, :photo, :fill, 300, 300, format: "jpg") %>
                  <div class="favorite">
                      <i class="fa fa-heart" id="unfavorite" aria-hidden="true" onclick="unfavoriteHandler(<%= @user.id %>, <%= favorite.piece.id %>)"></i>
                      <i class="fa fa-heart-o" id="addfavorite" aria-hidden="true" onclick="addFavoriteHandler(<%= @user.id %>, <%= favorite.piece.id %>)"></i>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <h3 style="text-align: center;"><%= link_to "return to artwork and select your favorites!", root_path %></h3>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function unfavoriteHandler(currentUserId, pieceId){
    var currentLocation = window.location.href;
    var url = '/api/favorite/' + currentUserId + '/' + pieceId;
    $.ajax({
      type: "POST",
      url: url
    });
    window.location.assign(currentLocation);
  };
  function addFavoriteHandler(currentUserId, pieceId){
    var currentLocation = window.location.href;
    var url = '/api/favorite/' + currentUserId + '/' + pieceId;
    $.ajax({
      type: "DELETE",
      url: url
    });
    window.location.assign(currentLocation);
  };
</script>
