<div class="search-filter-nav">
  <% if @current_user && @current_user.favorites %>
    <br>
    <h5><%= link_to "view favorites", user_path(id: @current_user.id) %></h5>
    <hr>
  <% end %>

  <ul class="nav nav-pills nav-stacked">
    <li>
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :search_location, params[:search_location], class:"form-control", placeholder: "search a city" %>
        <br>
        <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "keyword" %>
        <br>
        <p>
          <%= text_field_tag :search_min, params[:search_min], style:"max-width: 40%;", placeholder: number_to_currency(0) %>
          &nbsp;-&nbsp;
          <%= text_field_tag :search_max, params[:search_max], style:"max-width: 40%;", placeholder: number_to_currency(@pieces.map{|piece| piece.price}.max) %>
        </p>
        <br>
        <%=
          select_tag :filter_cat, options_for_select(
            @categories.map{|category| [category.name.downcase, category.id]}
          ),
          prompt: "select category",
          class: "btn btn-default", id: "sortby-dropdown", style: "width: 100%;"
        %>
        <br><br>
        <%=
          select_tag :sort, options_for_select([
            ["price - low to high", "lowhigh"],
            ["price - high to low", "highlow"],
            ["new arrivals", "newestfirst"],
            ["popularity", "popular"],
            ["name - ascending", "nameasc"],
            ["name - descending", "namedesc"]
          ]),
          prompt: "sort by",
          class: "btn btn-default", id: "sortby-dropdown", style: "width: 100%;"
        %>
        <br><br>
        <%= submit_tag "search", class: "btn btn-primary", style: "width: 100%;" %>
      <% end %>
      <br>
      <%= link_to "clear filters", root_path, class: "btn btn-default" %>
    </li>
  </ul>
</div>
