<div class="art">
  <h1>Local Art</h1>
  <div class="container">
    <% @pieces.each do |piece| %>
      <div class="flip-container" onclick="flipFunction(<%= piece.id %>)">
        <div class="card" id="<%= piece.id %>">
          <div class="front">
            <%= image_tag attachment_url(piece, :photo, :fill, 300, 300, format: "jpg"), class: "img-responsive" %>
          </div>
          <div class="back">
            <h4><%= piece.title %></h4>
            <h5>By: <%= piece.user.full_name %></h5>
            <h5><%= number_to_currency piece.price %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var adjustSize = function() {
    var width = $("img").css("width");
    $(".back").css("width", width);
    $(".back").css("height", width);
    $(".front").css("height", width);
  }
  $( window ).load(function() {
    adjustSize();
  });
  $( window ).resize(function() {
    adjustSize();
  });
</script>

<script type="text/javascript">
  // function flipFunction(pieceId) {
  //   if ($(".card").css("transform") === "matrix3d(1, 0, 0, 1, 0, 0)") {
  //     $("#" + pieceId).css("transform", "rotateY(0deg)")
  //     console.log($("#" + pieceId).css("transform"))
  //   } else {
  //     $("#" + pieceId).css("transform", "rotateY(180deg)")
  //     console.log($("#" + pieceId).css("transform"))
  //   }
  // }
</script>
