<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2><%= @piece.title %></h2>
      <% if @piece.inventory == 0 %>
        <h3>We're sorry, this piece is no longer available.</h3>
      <% end %>
      <div class="image-tile">
        <%= image_tag attachment_url(@piece, :photo, :fill, 400, 400, format: "jpg"), class: "img-responsive" %>
        <% if @current_user %>
          <div class="favorite">
            <% if @current_user.favorites.collect(&:piece).include? @piece %>
              <%= link_to unfavorite_piece_path(piece_id: @piece.id, user_id: @current_user.id), method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_piece_path(piece_id: @piece.id, user_id: @current_user.id), method: :post do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6" style="max-width: 100%;">
      <h3>
        from: <%= link_to @piece.artist.shop_name.downcase, artist_path(id: @piece.artist.id) %>&nbsp;
        <% if @piece.artist.city_state %>
          <small>(<%= @piece.artist.city_state.downcase %>)</small>
        <% end %>
      </h3>
      <hr>
      <% if @current_user && @current_user == @piece.artist.user %>
        <h4>
          <%= link_to edit_piece_path(id: @piece.id) do %>
            <i class="fa fa-edit" aria-hidden="true"></i> edit
          <% end %>

          |
          <%= link_to piece_path(id: @piece.id), method: :delete, data: {confirm: "Are you sure you want to delete?"} do %>
            <i class="fa fa-trash" aria-hidden="true"></i> delete
          <% end %>
        </h4>
      <% end %>
      <p>
        <%= simple_format @piece.description %>
      </p>
      <% if @piece.categories && @piece.categories.count > 0 %>
        <em>
          <%= pluralize @piece.categories.count, 'Category' %>:
          <%= @piece.categories.map{|category| category.name}.join(', ') %>
          <br><br>
        </em>
      <% end %>
      <% if @piece.inventory != 0 %>
        <h5><%= number_to_currency @piece.price %></h5>
      <% else %>
        <h5><span style="text-decoration: line-through;"><%= number_to_currency @piece.price %></span> <small> sold out </small></h5>
      <% end %>
      <%= link_to add_to_cart_path(piece_id: @piece.id), method: :post, class: "btn btn-primary" do %>
        add to cart
      <% end %>
      <br><br>
      <hr>
      <% if @piece.artist.pieces.count > 1 %>
        <h5>other work by this artist: </h5>
        <div class="art" style="max-width: 100%;">
          <%= react_component('PiecesListByArtist', { data: @piece.artist.id, max_entries: 4 }) %>
        </div>
      <% end %>
      <div class="art" style="max-width: 100%;">
        <div class="" style="margin: 10px auto; display: flex; justify-content: center;">
          <% if @piece.artist.user.email.present? %>
            <%= mail_to @piece.artist.user.email,
                subject: "I'm interested in your work on where-art-thou.herokuapp.com! (#{@piece.title})",
                body: "I found your work on where-art-thou.herokuapp.com (https://where-art-thou.herokuapp.com#{@piece.piece_url})",
                class: "btn btn-default" do %>
              email artist
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
