<div class="container">
  <h1>Local Art</h1>
  <h2><%= @piece.title %></h2>
  <h2>By: <%= link_to @piece.artist.shop_name, artist_path(name_parameterize: @piece.artist.name_parameterize) %></h2>

    <%= image_tag attachment_url(@piece, :photo, :fill, 400, 400, format: "jpg"), class: "img-responsive" %>

    <h5><%= number_to_currency @piece.price %></h5>
    <%= link_to add_to_cart_path(piece_id: @piece.id), method: :post do %>
      <button type="button" name="button">Add to Cart</button>
    <% end %>
</div>
