<div class="container">
  <div class="cart">
    <h3><%= @current_user.full_name %>'s cart</h3>
    <% if @order %>
      <% @order.order_items.each do |order_item| %>
        <hr>
        <div class="order-item">
          <div><%= image_tag attachment_url(order_item.piece, :photo, :fill, 150, 150, format: "jpg") %></div>
          <ul>
            <li>Title: <%= order_item.piece.title %></li>
            <li>Quantity: <%= order_item.quantity %></li>
            <li>Total Price: <%= number_to_currency order_item.total_price %></li>
          </ul>
          <div class="order-img-btn">
            <%= link_to 'Remove from Cart', remove_from_cart_path(piece_id: order_item.piece_id), class: '', method: :delete %>
          </div>
        </div>
      <% end %>
      <hr>
      <h5 style="text-align: right;">Order Total: <%= number_to_currency @order.total_price %></h5>
      <div class="checkout">
        <% if @order.order_items.present? %>
          <%= form_tag process_payment_path, method: :post, id: "payment-form" do %>

            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_5JVSPhieKsIPIFTadSnKl3vs"
              data-name="buy.local.art"
              data-description="<%= @order.description %>"
              data-amount="<%= @order.total_price_in_cents %>"
              data-email="<%= @current_user.email %>"
              data-shipping-address="true"
              data-locale="auto">
            </script>

          <% end %>
        <% else %>
          <%= link_to 'Keep Shopping', root_path, class: '' %>
        <% end %>
      </div>
      <% else %>
      <%= link_to 'Keep Shopping', root_path, class: '' %>
    <% end %>
  </div>
</div>
