<div class="container">
  <div class="cart">
    <h3><%= @current_user.full_name %>'s cart</h3>
    <br>
    <% if @order && @order.order_items.present? %>
      <%= render 'table' %>
      <hr>
      <h5 class="order-total">Order Total: <strong><%= number_to_currency @order.total_price %></strong></h5>
      <div class="checkout">
        <%= form_tag process_payment_path, method: :post, id: "payment-form" do %>

          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_5JVSPhieKsIPIFTadSnKl3vs"
            data-name="buy.local.art"
            data-description="<%= @order.description %>"
            data-amount="<%= @order.total_price_in_cents %>"
            data-email="<%= @current_user.email %>"
            data-shipping-address="true"
            data-locale="auto">
          </script>

        <% end %>
      </div>
    <% else %>
      <div class="no-items">
        <h4><i class="fa fa-paint-brush" aria-hidden="true"></i></h4>
        <h4><small>no items</small></h4>
        <h4><%= link_to 'keep shopping', root_path %></h4>
      </div>
    <% end %>
  </div>
</div>
