<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src=" https://checkout.stripe.com/checkout.js"></script>

  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_5JVSPhieKsIPIFTadSnKl3vs');
  </script>

</head>
<body>
  <header>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Artists", artists_path %>
      <% if @current_user %>
        Hello, <%= @current_user.full_name %>
        <%= link_to "Sign Out", sign_out_path %>
        <%= link_to cart_path do %>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <%= link_to "Sign In", sign_in_path %>
      <% end %>
    </nav>
  </header>

  <div class="content-wrapper">
    <%= yield %>
  </div>

  <footer>
      <%= link_to "Create Artist Profile", root_path %>
  </footer>
</body>
</html>
