<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src=" https://checkout.stripe.com/checkout.js"></script>

  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_5JVSPhieKsIPIFTadSnKl3vs');
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <h1>buy.local.art</h1>
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Artists", artists_path %></li>

      <% if @current_user %>
        <li>
          <%= link_to user_path(id: @current_user.id) do %>
            <%= @current_user.full_name %>
          <% end %>
        </li>
        <li><%= link_to "Sign Out", sign_out_path %></li>
        <li>
          <%= link_to cart_path do %>
            View Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "Sign In", sign_in_path %></li>
      <% end %>
    </ul>

  </header>

  <div class="content-wrapper">
    <%= yield %>
  </div>

  <footer>
      <% if @current_user && @current_user.artist.nil? %>
        <%= link_to "Create Artist Profile", new_artist_path %>
      <% elsif @current_user && @current_user.artist %>
        <%= link_to "Edit Artist Profile", edit_artist_path(name_parameterize: @current_user.artist.name_parameterize) %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
      <% end %>
  </footer>
</body>
</html>
