<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src=" https://checkout.stripe.com/checkout.js"></script>

  <script type="text/javascript">
    Stripe.setPublishableKey('pk_test_5JVSPhieKsIPIFTadSnKl3vs');
  </script>

</head>
<body>
  <header>
    <h1>buy.local.art</h1>
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Artists", artists_path %></li>

      <% if @current_user %>
        <li>
          <%= link_to user_path(id: @current_user.id) do %>
            <%= @current_user.full_name %>
          <% end %>
        </li>
        <li><%= link_to "Sign Out", sign_out_path %></li>
        <li>
          <%= link_to cart_path do %>
            View Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "Sign In", sign_in_path %></li>
      <% end %>
    </ul>
  </header>

  <div class="content-wrapper">
    <%= yield %>
  </div>

  <footer>
    <h5>
      <%= link_to "Home", root_path %> &nbsp;|&nbsp;
      <% if @current_user %>
        <%= link_to user_path(id: @current_user.id) do %>
          User Profile: <%= @current_user.full_name %>
        <% end %>
        &nbsp;|&nbsp;
        <% if @current_user.artist.nil? %>
          <%= link_to "Create Artist Profile", new_artist_path %> &nbsp;|&nbsp;
        <% elsif @current_user.artist %>
          <%= link_to "Edit Artist Profile", edit_artist_path(id: @current_user.artist.id) %> &nbsp;|&nbsp;
        <% end %>
        <%= link_to "Sign Out", sign_out_path %>
      <% else %>
        <%= link_to "Sign In", sign_in_path %> &nbsp;|&nbsp;
        <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </h5>
    <h5>
      <a href="https://stripe.com/">Payment with Stripe</a> &nbsp;|&nbsp;
      Terms &amp; Conditions &nbsp;|&nbsp;
      Return Policy
    </h5>
    <h5>&copy; 2016 <a href="http://emilycritter.com/">emily c. ritter</a></h5>
  </footer>
</body>
</html>
